.app {
  background: url(C:\Users\User\Desktop\Todo\todo-app\src\Nature-in-the-greenland.png)
    no-repeat;
  height: 100vh;
  background-size: cover;
}

.app__overlay {
  position: absolute;
  background: #111;
  height: 100vh;
  width: 100%;
  top: 0;
  opacity: 0.5;
}
