.footer {
  position: absolute;
  bottom: 0;
  background: #fff;
  display: flex;
  width: 100%;
}

.footer__text {
  margin-left: 35%;
}
.footer .footer__text1 {
  display: inline-block;
  margin: 10px 8px 10px 12px;
  font-weight: bold;
}

.footer .footer__link {
  display: inline-block;
  margin: 10px 8px 10px 0;
  font-weight: bold;
}
.footer .footer__link a {
  text-decoration: none;
  color: rgb(7, 245, 7);
  cursor: pointer;
}

.footer .footer__text2 {
  display: inline-block;
  margin: 10px 12px 10px 0;
  font-weight: bold;
}

@media (max-width: 720px) {
  .footer__text {
    margin-left: 17%;
  }

  .footer .footer__text1 {
    font-size: 14px;
  }

  .footer .footer__link {
    font-size: 14px;
  }

  .footer .footer__text2 {
    font-size: 14px;
  }
}

@media (max-width: 680px) {
  .footer__text {
    margin-left: 19%;
  }

  .footer .footer__text1 {
    font-size: 14px;
  }

  .footer .footer__link {
    font-size: 14px;
  }

  .footer .footer__text2 {
    font-size: 14px;
  }
}

@media (max-width: 590px) {
  .footer__text {
    margin-left: 16%;
  }

  .footer .footer__text1 {
    font-size: 13px;
  }

  .footer .footer__link {
    font-size: 13px;
  }

  .footer .footer__text2 {
    font-size: 13px;
  }
}

@media (max-width: 460px) {
  .footer__text {
    margin-left: 15%;
  }
}
