.navbar h2 {
  position: relative;
  font-family: "Gill Sans";
  margin-left: 30px;
  top: 25px;
  color: #fff;
  z-index: 999;
}

@media screen and (max-width: 325px) {
  .navbar h2 {
    font-size: 1.2rem;
  }
}
